<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="flex-grow-1 pt-7 pb-5">
  <div class="container">
    <h1>404 - Strona nie znaleziona</h1>
    <p>Przepraszamy, ale ta strona nie istnieje.</p>
  </div>
</main>

<%- include('partials/footer') %>
