<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="flex-grow-1 pt-7 pb-5">
  <div class="container fade-in-fast">
    <header class="text-center mb-4">
      <h1>O mnie</h1>
    </header>

    <div class="row">
      <div class="col-md-4 text-center mb-4">
        <img
          src="/images/portrait.jpg"
          class="img-fluid rounded-circle mb-3"
          alt="Mój portret"
        />
        <h5>Jakub Gańko</h5>
      </div>
      <div class="col-md-8">
        <h3>Kim jestem?</h3>
        <p>
            Na codzień jestem studentem informatyki ale główną pasją jest fotografia - szczególnie żab.
            Moja przygoda z fotografią zaczęła się gdy dostałem swój pierwszy, robiący w dobrej jakości zdjęcia telefon.
            Funkcja robienia przeróżnych, ciekawych zdjęć przykuła moją uwagę najbardziej, a było to ponad 12 lat temu.
            Nie miałem jeszcze zainteresować, a każdy w środowisku miał swoją pasję - przyszedł czas na mnie.
            <br><br>
            Dlaczego żaby? Prosta odpowiedź, stworzenie to było moją pierwszą fotografią wykonaną wcześniej wspomnianym telefonem...
            i tak zostało
        </p>
        <h3>Moja wizja</h3>
        <p>
            Chcę pokazać światu, że natura jest czymś więcej niż tylko "czymś" co żyje. Jest to piękno samo w sobie, przedstawione różnymi
            odmianami. Komponując tło oraz stworzenia (żabki), możemy uchwycić coś czego ludzkie oko nie jest w stanie dostrzec.
            Chciałbym być inspiracją dla innych - by zarazić fotografią większą część społeczeństwa.
        </p>
        <h3>Osiągnięcia i publikacje</h3>
        <ul>
          <li>Wystawa "Żabi Świat" (2024)</li>
          <li>Publikacja w magazynie Przyroda Polska (2023)</li>
          <li>Wyróżnienie na gali "Żabicon" (2021)</li>
        </ul>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
