<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="flex-grow-1 pt-7 pb-5">
  <div class="container fade-in-fast">
    <header class="text-center mb-4">
      <h1>Witaj w moim żabim świecie!</h1>
      <p>Profesjonalna fotografia żab – pasja, która inspiruje.</p>
    </header>
  </div>
  <div class="container fade-in-fast">
    <blockquote class="blockquote text-center mb-5">
      <p class="mb-0">
        "Każda żaba ma swoją opowieść, a fotografia pozwala nam ją odkryć."
      </p>
      <footer class="blockquote-footer text-white-50">Jakub Gańko</footer>
    </blockquote>
  </div>
  <div class="container fade-in-later">
    <h2 class="text-center mb-4">Ostatnie ujęcia</h2>
    <div class="row g-4">
      <div class="col-md-4 d-flex justify-content-center">
        <img
          src="/images/zaba1.jpg"
          class="img-fluid rounded"
          alt="Żaba w trawie"
        />
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img
          src="/images/zaba2.jpg"
          class="img-fluid rounded"
          alt="Zbliżenie na żabę"
        />
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img
          src="/images/zaba3.jpg"
          class="img-fluid rounded"
          alt="Żaba na liściu"
        />
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
